@import "__vars";
@import "__mixins";
@import "smart-grid";


.it-contacts__wrap {
  position: relative;
  min-height: 400px;
}

.it-map {
  position: relative;
  min-height: 500px
}

.it-map__wrap {
  position: absolute;
  top: 10%;
  left: 60%;
  max-width: 250px;
  width: 100%;
  margin-left: -125px;
  background-color: #fff;
}

.it-map__img-box {
  overflow: hidden
}

.it-map__img {
  max-width: 100%;
  height: auto;
  display: block
}

.it-map__content {
  padding: 15px 25px 25px
}

.it-map__title {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0,0,0,.87);
  margin-bottom: 5px
}

.it-map__subtitle {
  margin-bottom: 30px;
  position: relative;
  font-size: 12px;
  color: rgba(0,0,0,.38)
}

.it-map__subtitle:before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,.26)
}

.it-map__phone {
  margin-bottom: 15px;
  color: rgba(0,0,0,.87);
  font-size: 14px
}

.it-map__buttons {
  width: 100%
}