@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-example__wrap {
  border: 10px solid rgba(0, 0, 0, 0.1);
}


.it-example__top {
  padding: 30px 20px 0;
}

.it-example__top-title {
  font-size: rem(24px);
  font-weight: 300;
  margin-bottom: 30px;
}

.it-example__top-title span {
  color: $main-color;
  font-weight: 700;
}

.it-example__top-info-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.it-example__top-info-half {
  padding: 0 30px ;
  font-size: rem(24px);
  font-weight: 300;
  position: relative;
  @include phones {
    padding-left: 0;
  }
}

.it-example__top-info-half--time {
  @include phones {
    margin-bottom: 20px;
  }
}


.it-example__top-info-half:first-child {
  padding-left: 0;
}

.it-example__top-info-half:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 2px;
	height: 30px;
    background-color: rgba(229, 229, 229, 1);
    @include phones {
      display: none;
    }
}

.it-example__top-info-half:first-child:before {
  background-color: transparent;
}

.it-example__top-desc {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.5;
}

.it-example__center {
  display: flex;
  flex-wrap: wrap;
}


.it-example__half {
  width: 50%;
  @include tablets {
    width: 100%;
  }
}

.it-example__half--left {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @include laptop {
      justify-content: center;
  }

}

.it-example__half--right {
  background-color: #FFC331;
  padding: 40px 40px;
}

.it-example__title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: 30px;
}

.it-example__desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 35px;
  color: #000000;;
}

.it-example__img-box {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  @include tablets {
    max-height: 300px;
  }

}


.it-example__img {
  height: 100%;
  width: auto !important;
  display: block;
  transition: 0.2s;
  @include tablets {
    width: 100% !important;
    height: auto;
  }
}

.it-example__img-box:hover .it-example__img {
  transform: scale(1.1);
}

.it-example__img-box:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.2s;
    z-index: 2;


}

.it-example__img-box:hover:before{
   background-color: rgba(0,0,0,0.3);
}



.it-example__img-box:hover .it-example__more-img-box {
  width: 70px;
  height:70px;
}

.it-example__img-box:hover .it-example__more {
  left: 46%;
}


.it-example__img-box:hover .it-example__more-text {
  font-size: rem(26px);
}


.it-example__more {
  position: absolute;
  top: 50%;
  margin-left: -80px;
  left: 50%;
  margin-top: -30px;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.2s;
  pointer-events: none;
  z-index: 3;

}

.it-example__more-img-box {
  height: 48px;
  width: 48px;
  transition: 0.2s;
}

.it-example__more-text {
  font-size: rem(18px);
  color: #ffffff;
  padding-left: 25px;
  transition: 0.2s;
}




.it-example__more-img {
  display: block;
  max-width: 100%;
  height: auto;

}

.it-example__review-wrap {
  display: flex;
  flex-wrap: wrap;
}

.it-example__name {
  font-size: rem(16px);
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 20px;
  content:  #000000;
}

.it-example__show {
  font-size: 14px;
  color: #000000;
  position: relative;
  padding-left: 30px;
}

.it-example__show:before {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url("../img/example/loupe.png") no-repeat left top;
}

.it-example__bottom {
  padding: 5% 6% 4%;
  background-color: rgba(41, 41, 41, 1);
  text-align: center;
}

.it-example__bottom-title {
  color: #ffffff;
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: 20px;
}

.it-example__bottom-subtitle {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 25px;
  color: #ffffff;
}

.it-example__buttons {
  margin-bottom: 20px;
  max-width: 260px;
  width: 100%;
  display: inline-block;
}


/******************* example+owl *******************/


.it-example .box-carousel .owl-nav .owl-next,.it-example .box-carousel .owl-nav .owl-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 40px;
  font-size: 0;
  right: auto;
  border: 1px solid rgba(208, 208, 208, 1);
}

.it-example .box-carousel .owl-nav .owl-next:hover,.it-example .box-carousel .owl-nav .owl-prev:hover {
  opacity: .5
}

.it-example .box-carousel .owl-nav .owl-prev {
  left: 40px;
}

.it-example .box-carousel .owl-nav .owl-next {
  left: 80px;
  border-left: none;
}

.it-example .box-carousel .owl-nav .owl-next:after,.it-example .box-carousel .owl-nav .owl-prev:after {
  content: "";
  position: absolute;
  top: 2px;
  width: 40px;
  height: 40px;
  margin-top: -3px;
  background: url("../img/example/arrow.png") center no-repeat;
}

.it-example .box-carousel .owl-nav .owl-prev:after {
  transform: scale(-1);
  left: -2px;
  right: auto;
}

.it-example .box-carousel .owl-nav .owl-next:after {
  transform: scale(1);
  right: -2px;
  left: auto;
}

.it-example .box-carousel .owl-dots {
  position: absolute;
  top: -43px;
  left: 50%;
  display: block;
  z-index: 10000;
  max-width: 200px;
  width: 100%;
  margin-left: -100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.it-example .box-carousel .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  border: 3px solid transparent;
  background: #c4c4c4;
  border-radius: 50%;
  transition: .2s;
  margin: 0 5px;
}

.it-example .box-carousel .owl-dots .owl-dot.active,.it-example .box-carousel .owl-dots .owl-dot:hover {
  background-color: $main-color
}