@import "__vars";
@import "__mixins";
@import "smart-grid";


/******************* it-footer *******************/

.footer__wrap {
  @include row-flex();
  position: relative;
  z-index: 4;
}

.footer__half {
    @include col();
    @include size(4);
    @include size-xs(12);
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.footer__half .it-logo__text--size {
  font-size: rem(18px);
  max-width: 210px;
}

.footer__half .it-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__text {
  font-size: rem(18px);
  color: #000000;
  font-weight: 300;
  max-width: 230px;
  text-decoration: none;
}

.footer__text:hover {
	text-decoration: none;
}

.footer__text:active,
.footer__text:visited {
	text-decoration: none;
}

.footer__img-box {
  overflow: hidden;
  margin-right: 20px;
}
.footer__policy {
  text-decoration: none;
  color: #4B4BF6;
}


 .footer__policy:hover {
   text-decoration: none;
   color: #4B4BF6;
}

.footer__policy:active,
.footer__policy:visited {
  text-decoration: none;
  color: #4B4BF6;
}