@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-foreman__wrap {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgba(0, 0, 0, 0.2);
}

.it-foreman__half {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  @include tablets {
    width: 100%;
  }

}

.it-foreman__half--right {
  padding: 4% 8% 20px;
}

.it-foreman__title {
  font-weight: 700;
  font-size: rem(24px);
  margin-bottom: 40px;
  @include phones {
    margin-bottom: 20px;
  }
}

.it-foreman__desc {
  font-size: rem(18px);
  font-weight: 300;
}

.it-foreman__person {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 15px 30px;
  @include phones {
    padding: 10px 15px;
  }
}

.it-foreman__name {
  color: #FFC331;
  font-size: rem(24px);
  font-weight: 700;
}

.it-foreman__post {
  font-weight: 300;
  font-size: rem(24px);
  color: #ffffff;
  @include phones {
    font-size: rem(20px);
  }
}

.it-foreman__img-box {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.it-foreman__img {
  display: block;
  width: auto;
  height: 100%;
  @include phones {
      max-width: 100%;
      height: auto;
  }
}

.it-foreman__list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.it-foreman__item {
  list-style-type: none;
  padding-left: 38px;
  position: relative;
  margin-bottom: 15px;
  font-size: rem(18px);
  font-weight: 300;
}

.it-foreman__item:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
    height: 15px;
    background: url(../img/arrow.png) no-repeat center;
    transform: rotate(270deg);
}


.it-foreman__buttons  {
  max-width: 260px;
}