@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-offer2 {;
  background: url("../img/main-offer-2/bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.it-offer2:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.it-offer2__wrap {
  text-align: center;
  padding: 5% 0;
  position: relative;

}

.it-offer2__title {
  font-size: rem(24px);
  font-weight: 300;
  margin-bottom: 30px;
  color: #ffffff;
}

.it-offer2__title span {
  color: $main-color;
  font-weight: 700;
}

.it-offer2__subtitle {
  font-size: rem(36px);
  font-weight: 700;
  margin-bottom: 40px;
  color: #ffffff;
}

.it-offer2__buttons {
  max-width: 260px;
  width: 100%;
  display: inline-block;

}

