@import "__vars";
@import "__mixins";
@import "smart-grid";

.it-card-show__wrap {
  @include row-flex();
  margin-bottom: -25px;
}

.it-card-show__item {
  @include col();
  @include size(6);
  @include size-xs(12);
  text-decoration: none;
  max-width: 518px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.it-card-show__item:hover {
  text-decoration: none;
}

.it-card-show__item:active,
.it-card-show__item:visited {
  text-decoration: none;
}

.it-card-show__img-box {
  overflow: hidden;
  max-height: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}

.it-card-show__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-card-show__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  margin-bottom: 25px;
}

.it-card-show__content h3 {
  color: #333333;
  font-size: 18px;
}

.it-card-show__content ul {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.it-card-show__content ul li {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
  margin-bottom: 5px;
}

.it-card-show__content ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #DA4A09;
}

.it-card-show__content,
.it-card-show__content p {
  font-size: 14px;
  font-weight: 300;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 0;
}

.it-card-show__content a {
  color: #DA4A09;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 5px;
}

