section.it-advantages
	.it-container
		.it-advantages__wrap
			ul.it-advantages__list
				- var advantagesList = {'Не берем предоплату' : "Возьмем деньги за работу только после того, как вы примете объект и подпишете акт. Оплата материала после согласования счета.", "Сдаем точно в срок" : "У нас 5 постоянных бригад по 5 мастеров в каждой. Если понадобится ускорить процесс, всегда найдем свободных специалистов." , "Фиксируем стоимость	в договоре": "Стоимость работ согласуем и зафиксируем в договоре. Никаких внезапных подорожаний и непредвиденных расходов." ,"Отчитываемся без напоминаний" : "В процессе работы будем присылать еженедельный фото, видеоотчет"};
				- var i = 1;
				-   for (var key in advantagesList) {
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__img-box
							img.it-advantages__img(src="static/img/advantages/" + i + ".png", alt='')
						.it-advantages__title
							|	#{key}
						.it-advantages__desc
							|	#{advantagesList[key]}
					- i++;
				- }
