// --------------------- it-contacts -------------------------
section.it-contacts.it-all--indent
	.it-container
		.it-contacts__wrap
			script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A57db0fc7a0fec7cb72c404aee426081c037bdde439a7a88062961eeebe0d8cd6&width=100%25&height=400&lang=ru_RU&scroll=true')

			.it-contacts__map
				.it-map__wrap
						.it-map__img-box
							img.it-map__img(src='static/img/contacts/1.jpg')
						.it-map__content
							.it-map__title
								| Строй Гарант
							.it-map__subtitle ул.Пермякова, 59
							.it-map__phone
								| 8 (3452)
								b
									|	212-554
							.it-map__buttons
								a.it-map__btn.it-btn(href="#it-modal1" data-modal) Заказать звонок


