section.it-example
	.it-container
		.it-example__wrap.owl-carousel.box-carousel
			.it-example__inner-wrap
				.it-example__half.it-example__half--left
					.it-example__img-box
						img.it-example__img(src="static/img/example/1.jpg", alt='')
				.it-example__half.it-example__half--right
					.it-example__content
						.it-example__title
							| Отзыв клиента:
						.it-example__desc
							| Хочу выразить благодарность фирме за выполненный ремонт квартиры, которая была сдана в срок. Прорабу Яне, за профессиональную организацию труда. Бригада рабочих работали слаженно. Дельные советы предоставлялись фирмой, сэкономила немного денег. Спасибо еще раз, и желаю вам процветания. Буду ВАС рекомендовать своим знакомым...
						.it-example__buttons
							a.it-btn.it-example__btn(href="#")
								| Узнать подробнее

