section.it-example
	.it-container
		.it-example__wrap.owl-carousel.box-carousel
			.it-example__inner-wrap
				.it-example__top
					.it-example__top-title
						span
							|	Проект № 1.
						|	ул. Мельникайте  2
					.it-example__top-desc
						| Выполнено объединение 2 смежных квартир, с пробивкой проема в несущей стене с последующим усилением. Штукатурка стен по маякам, шпаклевание под обои, поклейка обоев. Выравнивание полов, кладка плитки на пол, монтаж ламината, устройство теплых полов. Натяжные потолки ПВХ и тканевые. потолочные плинтуса. Гипсокартонные конструкции по стенам. Кладка плитки в санузлах, установка сантехники, электромонтажные работы.
					.it-example__top-info-wrap
						.it-example__top-info-half
							|	Сроки ремонта:
							b
								|	 2 месяца
						.it-example__top-info-half
							|	Площадь:
							b
								|	300 м2
						.it-example__top-info-half
							|	Стоимость:
							b
								|	999 999 руб.
				.it-example__center
					.it-example__half.it-example__half--left
						.it-example__img-box
							img.it-example__img(src="static/img/example/1.jpg", alt='')
					.it-example__half.it-example__half--right
						.it-example__content
							.it-example__title
								| Отзыв клиента:
							.it-example__desc
								| Хочу выразить благодарность фирме за выполненный ремонт квартиры, которая была сдана в срок. Прорабу Яне, за профессиональную организацию труда. Бригада рабочих работали слаженно. Дельные советы предоставлялись фирмой, сэкономила немного денег. Спасибо еще раз, и желаю вам процветания. Буду ВАС рекомендовать своим знакомым...
							.it-example__review-wrap
								.it-example__name
									|	Артур
								.it-example__show
									|	Смотреть рукописный отзыв
				.it-example__bottom
					.it-example__bottom-title
						|	Понравился проект?
					.it-example__bottom-subtitle
						|	Оставьте ваши контакнтые данные, мы перезвоним и расскажем подробнее
					.it-example__buttons
						a.it-btn.it-example__btn(href="#it-modal1" data-modal)
							| Заказать звонок
