section.it-example
	.it-container
		.it-example__bottom
			.it-example__bottom-title
				|	Есть смета другой компании?
			.it-example__bottom-subtitle
				|    Проверим
				| цены, материалы и сделаем еще дешевле!
			.it-example__buttons
				a.it-btn.it-example__btn(href="#it-modal1" data-modal)
					| Заказать звонок
