.main-page__footer
	footer.it-footer
		.it-container
			.footer__wrap


				.footer__half
					.footer__text
						| ООО «Артарина»
						br
						a(href="#it-modal-policy" data-modal) Политика конфиденциальности
				.footer__half
					.footer__text
						| 625007, Россия, г. Тюмень,
						| ул. Николая Чаплина, 117

				.footer__half
					a(href="#").footer__link artarinaa@mail.ru
					a(href="tel:+73452499-522").footer__link связаться с нами

				.footer__half
					.footer__social Мы в социальных сетях:
					a(href="https://vk.com/artarinaa" target="blank").footer__img-box.footer__img-box--indent
						img.footer__img(src="static/img/footer/1.png", alt='')
					a(href="https://www.instagram.com/mk_artarina/" target="blank").footer__img-box
						img.footer__img(src="static/img/footer/2.png", alt='')


			.footer__bottom

			//.footer__copy
			//	a.footer__copy-link(href='https://iq-adv.ru/', target='_blank')
			//		| Разработка сайта - IQ Online
