.main-page__footer
	footer.it-footer
		.it-container
			.footer__wrap
				.footer__half.footer__half--size
					.it-logo
						.it-logo__img-box
							img.it-logo__img(src='static/img/header/logo.png', alt='')
						.it-logo__text.it-logo__text--size
							|    Ремонт коттеджей
							br
							| под ключ в Тюмени
				.footer__half
					.footer__img-box
						img(src="static/img/footer/1.png", alt='' ).footer__img
					a(href="https://www.sdvor.com/" target="blank").footer__text
						|	Официальный подрядчик ООО «Строительный двор»
				.footer__half
					a(href="#it-modal-policy" data-modal).footer__policy
						|	Политика обработки персональных данных

