section.it-foreman
	.it-container
		.it-foreman__wrap
			.it-foreman__half.it-foreman__half--left
				.it-foreman__img-box
					img(src="static/img/foreman/1.jpg", alt='').it-foreman__img
				.it-foreman__person
					.it-foreman__name
						|	Иван Иванович
					.it-foreman__post
						|	один из прорабов «Строй Гарант»
			.it-foreman__half.it-foreman__half--right
				.it-foreman__content
					.it-foreman__title
						|    Я всегда смогу ответить
						| на ваши вопросы
					.it-foreman__desc
						p
							|	Очень часто клиенты интересуются процессом ремонта, и всегда должен быть человек, который может быстро и четко ответить на все вопросы.
						p
							|	В данном случае, этим человеком являюсь я - ваш персональный прораб. Веду проект от подписания договора на строительство и до конечной приемки работ.
