section.it-foreman
	.it-container
		.it-foreman__wrap
			.it-foreman__half.it-foreman__half--left
				.it-foreman__img-box
					img(src="static/img/foreman2/1.jpg", alt='').it-foreman__img
				.it-foreman__person
					.it-foreman__name
						|    Иван и Владислав
					.it-foreman__post
						|	директора «Строй Гарант»
			.it-foreman__half.it-foreman__half--right
				.it-foreman__content
					.it-foreman__title
						|    Мы приезжаем на объект для:
					.it-foreman__desc
						ul.it-foreman__list
							li.it-foreman__item
								|    Обсуждения работ
							li.it-foreman__item
								|	Рассчета стоимости
							li.it-foreman__item
								|    Контроля качества и сроков
							li.it-foreman__item
								|    Оформления необходимых разрешений
							li.it-foreman__item
								|	Сдачи объекта
					.it-foreman__buttons
						a(href="#it-modal1" data-modal).it-foreman__btn.it-btn
							|	Связаться с директорами