section.it-foreman
	.it-container
		.it-foreman__wrap
			.it-foreman__half.it-foreman__half--left
				a(href="static/img/foreman/1.jpg" data-modal rel="foreman").it-foreman__img-box
					img(src="static/img/foreman/preview.jpg", alt='').it-foreman__img
				.it-foreman__person
					//.it-foreman__name
					//	|	Иван Иванович
					.it-foreman__post
						|	Коллектив компании «Строй Гарант»
				a(href="static/img/foreman/2.jpg" data-modal rel="foreman")
				a(href="static/img/foreman/3.jpg" data-modal rel="foreman")
				a(href="static/img/foreman/4.jpg" data-modal rel="foreman")
			.it-foreman__half.it-foreman__half--right
				.it-foreman__content
					.it-foreman__title
						|    Мы не боимся сложных задач
					.it-foreman__desc
						p
							|	В нашей команде есть профессиональные ремонтники, строители, электрики и дизайнеры интерьеров.
						p
							|	За вашим проектом будет закреплен персональный прораб. Он будет контролировать процесс от подписания договора до конечной приемки работ.
