section.it-gift
	.it-container
		.it-gift__wrap.owl-carousel.box-carousel
			.it-gift__inner-wrap
				.it-gift__half.it-gift__half--left
					.it-gift__content
						.it-gift__title
							| Клининг в подарок
						.it-gift__subtitle
							| Производим полную уборку всех помещений
						.it-gift__buttons
							a.it-btn.it-gift__btn(href="#it-modal1" data-modal)
								| Узнать подробнее
				.it-gift__half.it-gift__half--right
					.it-gift__img-box
						img.it-gift__img(src="static/img/gift/1.jpg", alt='')
			.it-gift__inner-wrap
				.it-gift__half.it-gift__half--left
					.it-gift__content
						.it-gift__title
							| Клининг в подарок2
						.it-gift__subtitle
							| Производим полную уборку всех помещений
						.it-gift__buttons
							a.it-btn.it-gift__btn(href="#it-modal1" data-modal)
								| Узнать подробнее
				.it-gift__half.it-gift__half--right
					.it-gift__img-box
						img.it-gift__img(src="static/img/gift/1.jpg", alt='')
