header.it-header
		.it-container
			.it-header__wrap
				.it-header__column
					a.it-logo(href='#')
						.it-logo__img-box
							img.it-logo__img(src='static/img/header/logo.png', alt='')
				.it-header__column.it-header__column--second
					.it-desc
						i
							| Кухня на 30 лет за 14 дней
							br
							| без переплат за услуги
				.it-header__column.it-header__column--third
					.it-header__info
						.it-city
							|	Тюмень
						.it-header__phone-wrap
							a.it-phone(href='tel:+73452499-522')
								span.it-phone__img-wrap
									img.it-phone__img(src='static/img/header/phone/1.png', alt='')
								| +7 (3452)
								b 499-522
							a.it-phone(href='tel:+73452499-522')
								span.it-phone__img-wrap.it-phone__img-wrap--bg
									img.it-phone__img(src='static/img/header/phone/2.png', alt='')
								| +7 (3452) 489 95 22
						.it-header__buttons
							a.it-btn.it-btn--transparent.it-header__btn(href='#it-modal1', data-modal='')
								| Заказать звонок
