section.it-offer2
    .it-container
        .it-offer2__wrap
            .it-offer2__title
                | Страхование ремонта
                br
                span
                    | за счет компании
            .it-offer2__subtitle
                | на сумму до
                br
                | 1 500 000 рублей
            .it-offer2__buttons
                a.it-btn.it-offer2__btn(href='#it-modal4', data-modal) Узнать подробнее
