section.it-offer.it-all--min-indent
    .it-container
        .it-offer__wrap
            .it-offer__half
                .it-offer__content
                    .it-offer__desc
                        | Более 1500  кухонь
                        br
                        | обрели свой уютный
                        br
                        | дом у наших клиентов
                    .it-offer__buttons
                        a.it-btn.it-offer__btn(href='#it-modal2', data-modal='') Вызвать замерщика
