section.it-offer
    .it-container
        .it-offer__wrap
            .it-offer__title
                | Ремонт коттеджей от 1500 руб.
                br
                | за квадратный метр
            .it-offer__subtitle
                | Без предоплаты. С гарантией сроков в договоре
            .it-offer__buttons
                a.it-btn.it-offer__btn(href='#it-modal2', data-modal='') Узнать стоимость ремонта
