section.it-services
	.it-container
		.it-services__wrap
			a(href="#").it-services__item
				.it-services__img-box
					img(src="static/img/card_nobel/1.jpg", alt='').it-services__img
				.it-services__content
					.it-services__title
						|	Аренда офисов Нобель
					.it-services__desc
						|	Первая линия. Офисы B класса
			a(href="#").it-services__item
				.it-services__img-box
					img(src="static/img/card_nobel/2.jpg", alt='').it-services__img
				.it-services__content
					.it-services__title
						|	Аренда офисов Нобель-Парк
					.it-services__desc
						|	Планировки Open Space. Офисы А класса
			a(href="#").it-services__item
				.it-services__img-box
					img(src="static/img/card_nobel/3.jpg", alt='').it-services__img
				.it-services__content
					.it-services__title
						|	Аренда конференц залов
					.it-services__desc
						|	Площадь от 40 м2. Стоимость от 1000 руб / час
			a(href="#").it-services__item
				.it-services__img-box
					img(src="static/img/card_nobel/4.jpg", alt='').it-services__img
				.it-services__content
					.it-services__title
						|	Продажа офисов
					.it-services__desc
						|	Продажа офисов от 280 до 1400 м2