header.it-header-main
	.it-container
		.it-header-main__wrap
			.it-header-main__half.it-header-main__half--1
				a.it-logo(href='/')
					.it-logo__img-box
						img.it-logo__img(src='static/img/nobel/header-main/logo.png', alt='')
			.it-header-main__half.it-header-main__half--2
				.it-header-main__info
					|	Аренда офисов и конференц-залов
				.it-header-main__location
					|    г. Тюмень, ул. Пермякова, д. 1
			.it-header-main__half.it-header-main__half--3
				.it-header-main__phone
					a.it-phone__number(href='tel:+73452566-366')
						| +7 (3452)
						b
							|    566-366
				.it-header-main__mail
					|	nobelgroup@nobel-tmn.ru
			.it-header-main__half.it-header-main__half--3
				.it-header-main__buttons
					a.it-btn.it-btn--transparent.it-header-main__btn(href='#it-modal1', data-modal='')
						| Перезвоните мне



