section.it-card-show
	.it-container
		.it-card-show__wrap
			.it-card-show__item
				.it-card-show__img-box
					img(src="static/img/nobel/card-show/1.jpg", alt='').it-card-show__img
				.it-card-show__content
					h3
						|	Женские лайфхаки в любви на весеннем девичнике
					ul
						li
							b
								|	Место:
							|	конференц-зал «Лауреат»;
						li
							b
								|	Время:
							|    19:00 - 21:00;
						li
							b
								|    Организатор:
							|    женский клуб «Муза»;
					p
						|    Звездная гостья - Марго Фокс (г. Москва) - международный тренер Академии ALMA. В честь 8 марта  стоимость девичника - 200 рублей (вместо 2000р). Розыгрыш ценных призов! Призовой фонд - 1000 долларов! Дресс-код: коктейльное платье.
						| Подробнее о мероприятии и спикере по тел. 8-961-203-51-52. Вход по билетам! Спешите занять лучшее место!
					a(href="#")
						|	на страницу мероприятия
				.it-card-show__buttons
					a(href="#").it-card-show__btn.it-btn
						|	Регистрация
						img(src="static/img/nobel/card-show/arrow.png", alt='')
			.it-card-show__item
				.it-card-show__img-box
					img(src="static/img/nobel/card-show/1.jpg", alt='').it-card-show__img
				.it-card-show__content
					h3
						|	Женские лайфхаки в любви на весеннем девичнике
					ul
						li
							b
								|	Место:
							|	конференц-зал «Лауреат»;
						li
							b
								|	Время:
							|    19:00 - 21:00;
						li
							b
								|    Организатор:
							|    женский клуб «Муза»;
					p
						|    Звездная гостья - Марго Фокс (г. Москва) - международный тренер Академии ALMA. В честь 8 марта  стоимость девичника - 200 рублей (вместо 2000р). Розыгрыш ценных призов! Призовой фонд - 1000 долларов! Дресс-код: коктейльное платье.
						| Подробнее о мероприятии и спикере по тел. 8-961-203-51-52. Вход по билетам! Спешите занять лучшее место!
					a(href="#")
						|	на страницу мероприятия
				.it-card-show__buttons
					a(href="#").it-card-show__btn.it-btn
						|	Регистрация
						img(src="static/img/nobel/card-show/arrow.png", alt='')