section.it-card-news.it-all--indent
	.it-container
		.it-card-news__wrap
			.it-card-news__item
				.it-card-news__content.it-card-news__content--top
					.it-card-news__date
						|	12.02.2018
					.it-card-news__title
						|    Расстановка в конференц-зале:
						| 5 самых популярных вариантов
				a(href="#").it-card-news__img-box
					img(src="static/img/nobel/card-news/1.jpg", alt='').it-card-news__img
				.it-card-news__content.it-card-news__content--bottom
					.it-card-news__desc
						|	При проведении деловых мероприятий одним из важных вопросов является расстановка мебели и оборудования в конференц-зале. Существует несколько наиболее популярных способов...
					a(href="#").it-card-news__link
						|	Читать дальше
			.it-card-news__item
				.it-card-news__content.it-card-news__content--top
					.it-card-news__date
						|	12.02.2018
					.it-card-news__title
						|    Расстановка в конференц-зале:
						| 5 самых популярных вариантов
				a(href="#").it-card-news__img-box
					img(src="static/img/nobel/card-news/2.jpg", alt='').it-card-news__img
				.it-card-news__content.it-card-news__content--bottom
					.it-card-news__desc
						|	При проведении деловых мероприятий одним из важных вопросов является расстановка мебели и оборудования в конференц-зале. Существует несколько наиболее популярных способов...
					a(href="#").it-card-news__link
						|	Читать дальше
			.it-card-news__item
				.it-card-news__content.it-card-news__content--top
					.it-card-news__date
						|	12.02.2018
					.it-card-news__title
						|    Расстановка в конференц-зале:
						| 5 самых популярных вариантов
				a(href="#").it-card-news__img-box
					img(src="static/img/nobel/card-news/3.jpg", alt='').it-card-news__img
				.it-card-news__content.it-card-news__content--bottom
					.it-card-news__desc
						|	При проведении деловых мероприятий одним из важных вопросов является расстановка мебели и оборудования в конференц-зале. Существует несколько наиболее популярных способов...
					a(href="#").it-card-news__link
						|	Читать дальше
		a(href="#").it-card-news__show-all
			|	Смотреть все новости