section#block4.site-section(data-section='4').it-all--indent
	.it-container--big
		.production-container
			.production-photo-side.production-side
				.production-photo-container(data-index='1')
					.production-photo__list-wrapper
						.production-photo__list
							.production-photo__list-item
								img(src='static/img/production/photo/1.jpg')
							.production-photo__list-item
								img(src='static/img/production/photo/2.jpg')
							.production-photo__list-item
								img(src='static/img/production/photo/3.jpg')
							.production-photo__list-item
								img(src='static/img/production/photo/4.jpg')

					.production-photo__main
						.production-photo__main-outer
							.production-photo__main-inner(style='background-image: url(static/img/production/photo/1.jpg)')
						.production-photo__main-outer
							.production-photo__main-inner(style='background-image: url(static/img/production/photo/2.jpg)')
						.production-photo__main-outer
							.production-photo__main-inner(style='background-image: url(static/img/production/photo/3.jpg)')
						.production-photo__main-outer
							.production-photo__main-inner(style='background-image: url(static/img/production/photo/4.jpg)')
			.production-info-side.production-side
				.production-info__content
					.production-info__desc.production-info__desc--icon1 Современное импортное оборудование
					.production-info__desc.production-info__desc--icon2 Команда профессионалов
					.production-info__desc.production-info__desc--icon3 Собственное производство фасадов позволяет сократить срок изготовления кухни до 14 дней