section.it-repairs
	.it-container
		.it-repairs__wrap
			.it-repairs__half
				.it-repairs__top
					.it-repairs__top-title
						|	Капитальный
					.it-repairs__top-price
						|	3000
						span
							|	р / м
							sup
								|	2
				.it-repairs__content
					.it-repairs__title
						|    в стоимость включен
						| косметический ремонт
					ul.it-repairs__list
						li.it-repairs__item
							|	Работы по перепланировке
						li.it-repairs__item
							|    Гипсокартонные конструкции
						li.it-repairs__item
							|    Выравнивание стен и потолков по маякам
						li.it-repairs__item
							|    Устройство стяжки и наливных полов
						li.it-repairs__item
							|    Разводка электрики и сантехнии
						li.it-repairs__item
							|    Уборка и вывоз мусора
					.it-repairs__buttons
					a(href="#it-modal3" data-modal).it-repairs__btn.it-btn
						|	Рассчитать мой проект
			.it-repairs__half
				.it-repairs__top.it-repairs__top--bg
					.it-repairs__top-title
						|    Дизайнерский
					.it-repairs__top-price
						|    5000
						span
							|    р / м
							sup
								|    2
				.it-repairs__content
					.it-repairs__title
						|    в стоимость включены
						| косметический и капитальный ремонт
					ul.it-repairs__list
						li.it-repairs__item
							|    Разработка дизайн проекта
						li.it-repairs__item
							|    Подбор финишных отделочных материалов
						li.it-repairs__item
							|    Фигурные гипсокартонные конструкции
						li.it-repairs__item
							|    Доставка материалов
					.it-repairs__buttons
					a(href="#it-modal3" data-modal).it-repairs__btn.it-btn
						|    Рассчитать мой проект