section.it-report
	.it-container
		.it-report__wrap.owl-carousel.box-carousel(data-items="4" data-items-pad="3")
			a(href="static/img/report/1_big.jpg" data-modal).it-report__half
				img(src="static/img/report/1.jpg", alt='').it-report__img
			a(href="static/img/report/2_big.jpg" data-modal).it-report__half
				img(src="static/img/report/2.jpg", alt='').it-report__img
			a(href="static/img/report/3_big.jpg" data-modal).it-report__half
				img(src="static/img/report/3.jpg", alt='').it-report__img
			a(href="static/img/report/4_big.jpg" data-modal).it-report__half
				img(src="static/img/report/4.jpg", alt='').it-report__img
			a(href="static/img/report/1_big.jpg" data-modal).it-report__half
				img(src="static/img/report/1.jpg", alt='').it-report__img

