section.it-scheme
	.it-container
		.it-scheme__wrap
			ul.it-scheme__list
				li.it-scheme__item.it-scheme__item--first
					.it-scheme__inner-item.it-scheme__inner-item--first
						.it-scheme__img-box
							img.it-scheme__img(src="static/img/scheme/1.png", alt='')
						.it-scheme__title
							|	Составление сметы
					.it-scheme__item-decoration--first
						|	0 руб
				li.it-scheme__item.it-scheme__item--second
					.it-scheme__item-all-wrap
						.it-scheme__inner-item.it-scheme__inner-item--second
							.it-scheme__img-box
								img.it-scheme__img(src="static/img/scheme/2.png", alt='')
							.it-scheme__title
								|    Закупка материлов со скидкой до 30%
						.it-scheme__inner-item.it-scheme__inner-item--second
							.it-scheme__img-box
								img.it-scheme__img(src="static/img/scheme/3.png", alt='')
							.it-scheme__title
								|    Электромонтажные работы
						.it-scheme__inner-item.it-scheme__inner-item--second
							.it-scheme__img-box
								img.it-scheme__img(src="static/img/scheme/4.png", alt='')
							.it-scheme__title
								|    Сантехнические работы
						.it-scheme__inner-item.it-scheme__inner-item--second
							.it-scheme__img-box
								img.it-scheme__img(src="static/img/scheme/5.png", alt='')
							.it-scheme__title
								|    Черновая отделка
								| (штукатурка, стяжка, сборка конструкций)
						.it-scheme__inner-item.it-scheme__inner-item--second
							.it-scheme__img-box
								img.it-scheme__img(src="static/img/scheme/6.png", alt='')
							.it-scheme__title
								|    Чистовая отделка (поклейка обоев, покраска, ламинат)
						.it-scheme__inner-item.it-scheme__inner-item--second
							.it-scheme__img-box
								img.it-scheme__img(src="static/img/scheme/7.png", alt='')
							.it-scheme__title
								|    Сдача объекта.
								| Даем гарантию
								| 2 года + подарки.
					.it-scheme__item__decoration--second
						|    Материалы закупаем сами. 100% оплата работ по факту после каждого этапа


