// --------------------- it-why -------------------------
section.it-why
	.it-container
		.it-why__wrap
			.it-why__half.it-why__half--left
				.it-why__half-inner
					.it-why__title
						| Обычный салон
					.it-why__list
						.it-why__item Изготовление кухни: 60 000 руб.
						.it-why__item Реклама салона:5 500 руб.
						.it-why__item Доставка в салон: 1 500 руб.
						.it-why__item Содержание в салоне: 6 000 руб.
						.it-why__item Наценка: 10 500 руб.
					.it-why__sum ИТОГО: 83 500 руб.

			.it-why__half.it-why__half--right
				.it-why__half-inner
					.it-why__img-box
						img.it-why__img(src="static/img/why/1.jpg", alt='')
					.it-why__list.it-why__list--indent
						.it-why__item.it-why__item--color Изготовление кухни: 60 000 руб.
						.it-why__item.it-why__item--color Реклама салона:5 500 руб.
						.it-why__item.it-why__item--color Доставка в салон: 1 500 руб.
						.it-why__item.it-why__item--color Содержание в салоне: 6 000 руб.
						.it-why__item.it-why__item--color Наценка: 10 500 руб.
					.it-why__amount ИТОГО: 52 500 руб.
					.it-why__desc Разумная цена!

